node_modules
dist

# Image files
*.jpg
*.jpeg
*.png
*.gif
*.tif
*.tiff
*.bmp
*.ico
*.raw
*.indd
*.ai
*.eps
*.pdf
*.psd
*.svg
*.webp
*.heif
*.heic
*.cr2
*.nef
*.orf
*.sr2
*.pef
*.dng
*.arw
*.jfif
*.bat
*.exif
*.bpg
*.flif
*.apng
*.avif
*.jxl
*.mng
*.pbm
*.pgm
*.ppm
*.pnm
*.webm
*.xcf
*.tga
*.ras
*.sgi
*.xbm
